<h1>Hola soy los items</h1>
<table>
    <thead>
        <td>
            <th>#</th>
            <th>Codigo</th>
            <th>Nombre Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Valor Total</th>
            <th>Operaciones</th>
        </td>
    </thead>
    <tbody>
        <td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </td>
    </tbody>
</table>